:root {
  --selective-yellow: hsl(42, 100%, 56%);
  --roman-silver: hsl(240, 6%, 51%);
  --roman-silver_10: hsla(240, 6%, 51%, 0.1);
  --light-coral: hsl(357, 100%, 75%);
  --oxford-blue: hsl(224, 53%, 10%);
  --light-gray: hsl(0, 0%, 80%);
  --keppei: hsl(173, 60%, 47%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black_10: hsla(0, 0%, 0%, 0.1);

  --ff-gilroy: "Gilroy", sans-serif;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --lr-pd: 17%;

  --section-padding: 5rem;

  --shadow-1: 0px 35px 65px -10px hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 40px hsla(0, 0%, 0%, 0.06);

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-circle: 50%;

  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-gilroy);
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

button {
  background: none;
  font: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--roman-silver);
  line-height: 1.5;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}

h1,
h2 {
  font-weight: var(--fw-700);
  color: var(--oxford-blue);

  > b {
    color: var(--light-coral);
  }
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-weight: var(--fw-600);
  color: var(--keppei);
  font-size: 1.1rem;
}

p,
a {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--light-coral);
}

::-webkit-scrollbar-thumb {
  background-color: var(--keppei);
  border-radius: 1.25rem;
}

::-moz-selection {
  color: var(--black);
  background: var(--white);
}

::selection {
  color: var(--white);
  background: var(--keppei);
}

.nav__active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
}

@mixin bgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  max-width: max-content;
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: var(--fw-600);
  border-radius: var(--radius-6);
  transition: var(--transition);
}

.btn-2 {
  max-width: max-content;
  padding: 1rem 2rem;
  background-color: var(--light-coral);
  color: var(--white);
  font-weight: var(--fw-500);
  border-radius: var(--radius-6);
  transition: var(--transition);

  &:is(.btn-2):is(:hover, :focus-visible) {
    box-shadow: 0 0 0 2px var(--white), 0 0 0 5px var(--light-coral);
  }
}

// header
header {
  background-image: url(../images/hero-bg.png);
  @include bgImg;
  padding: 3rem var(--lr-pd);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;

    .nav__links {
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
          a {
            font-weight: var(--fw-500);
            color: var(--ff-gilroy);
            transition: var(--transition);

            &:hover {
              color: var(--oxford-blue);
            }
          }
        }
      }
    }
  }

  .hero__container {
    padding: var(--section-padding) 0;

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-around;

      > div {
        width: 50%;
      }
      .hero__text {
        padding: 0 0.4rem;
        > h1 {
          font-size: 4rem;
        }
        > p {
          border-left: 2px solid var(--light-coral);
          margin: 1rem 0 5rem;
          padding: 0 0.2rem;
        }
      }
      .hero__img {
        img {
          width: 100%;
        }
      }
    }
  }
}

// main

main {
  .course__container {
    background-image: url(../images/category-bg.png);
    @include bgImg;
    padding: var(--section-padding) var(--lr-pd);
    display: flex;
    flex-direction: column;
    align-items: center;

    .cat__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 5rem 0;

      .course {
        background-color: var(--white);
        display: flex;
        align-items: center;
        width: 23rem;
        margin: 1rem 0;
        padding: 1.8rem 1rem;
        border-radius: var(--radius-8);
        transition: var(--transition);

        &:hover {
          box-shadow: var(--shadow-1), -4px 0px 0 0 var(--light-coral);
        }

        > img {
          width: 25%;
          border-radius: var(--radius-8);
          margin-right: 1rem;
        }
        > div {
          > h3 {
            color: var(--black);
            line-height: 1.7;
          }
        }
      }
    }
  }

  .oedu__container {
    display: flex;
    // align-items: center;
    justify-content: space-around;
    padding: var(--section-padding) var(--lr-pd);

    > div {
      width: 50%;
    }

    .edu__text {
      > p {
        margin: 1rem 0;
      }

      .progress__container {
        .label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--black);
          text-transform: capitalize;
          > p {
            font-size: 1rem;
          }
        }

        .progress {
          width: 100%;
          margin: 0.5rem 0 2rem;
          height: 0.4rem;
          background-color: var(--roman-silver_10);

          > p {
            height: 100%;
            border-radius: var(--radius-6);
          }
        }

        .one {
          > p {
            width: 40%;
            background-color: var(--light-coral);
          }
        }
        .two {
          > p {
            width: 60%;
            background-color: var(--keppei);
          }
        }
        .three {
          > p {
            width: 80%;
            background-color: var(--selective-yellow);
          }
        }
      }
    }
  }

  .our__writings {
    padding: var(--section-padding) var(--lr-pd);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/course-bg.png);
    @include bgImg;

    .writing__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 5rem 0;

      > div {
        display: flex;
        align-items: center;
        width: 33rem;
        background-color: var(--white);
        padding: 2rem;
        border-radius: var(--radius-6);
        margin: 2rem 0;
        transition: var(--transition);

        &:is(:hover, :focus-within) {
          box-shadow: var(--shadow-1), 0 4px 0 0 var(--light-coral);

          .text {
            > h3 {
              a {
                color: var(--light-coral);
              }
            }
          }
        }

        img {
          width: 37%;
          margin-right: 1rem;
          border-radius: var(--radius-6);
        }

        .text {
          > h3 {
            margin-bottom: 1rem;
            color: var(--black);
            a {
              transition: var(--transition);
            }
          }
          .author {
            font-size: 0.9rem;
            color: var(--light-coral);
          }
          .publisher {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .get__hire {
    padding: var(--section-padding) var(--lr-pd);
    background-color: var(--keppei);
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h2 {
      width: 40rem;
      color: var(--white);
    }

    > a {
      background-color: var(--white);
      color: var(--black);
    }
  }
}

// footer
footer {
  background-image: url(../images/footer-bg.png);
  @include bgImg;

  .footer__container {
    padding: var(--section-padding) var(--lr-pd);
    display: flex;
    justify-content: space-around;

    .logo {
      width: 30%;
      img {
        width: 35%;
      }
      p {
        margin-top: 0.5rem;
      }
    }

    .quick__links {
      display: flex;
      gap: 2rem;

      ul {
        > h3 {
          color: var(--black);
        }

        li {
          margin: 1rem 0;

          a {
            transition: var(--transition);
            &:hover {
              color: var(--black);
            }
          }
        }
      }
    }

    .social__links {
      ul {
        li {
          margin: 0 0 0.5rem;
          a {
            font-size: 1.5rem;
            font-weight: var(--fw-700);
            transition: var(--transition);

            &:is(:hover, :focus) {
              color: var(--black);
            }
          }
        }
      }
    }
  }

  > p {
    padding: 1.5rem 0;
    text-align: center;
    border-top: 1px solid var(--light-gray);
  }
}
